{{- define "sacheduler.configmap" -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.ConfigMapName }}
  namespace: {{ .Values.global.namespace }}
data:
  {{- range $key, $value := .Values.data }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end -}}