name: Example Workflow

on:
  push:
    branches:
      - master

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Print Mongo URI
        run: echo "Mongo URI is ${{ vars.MONGO_URI }}"
      
      - name: Print Mount Path
        run: echo "Mount Path is ${{ vars.MOUNT_PATH }}"
        
      # ... rest of your workflow steps
