name: Example Workflow

on:
  push:
    branches:
      - master

env:
  TOKEN: ${{ secrets.MY_PAT }}
  SERVICE_NAME: ${{ vars.SERVICE_NAME }}
  SERVICE_PORT: ${{ vars.SERVICE_PORT }}
  SERVICE_TYPE: ${{ vars.SERVICE_TYPE }}
  SERVICE_REPLICAS: ${{ vars.SERVICE_REPLICAS }}
  DOCKER_IMAGE_TAG: ${{ vars.DOCKER_IMAGE_TAG }}
  IMAGE_UPDATE_POLICY: ${{ vars.IMAGE_UPDATE_POLICY }}
  VERSION: 0.0.1
  SHA: ${{ github.sha::6 }}
  IMAGE: ${{ vars.SERVICE_NAME }}-${{env.SHA}}:${{ env.VERSION }}

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache gcloud and gke-gcloud-auth-plugin setup
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/gcloud/
          key: gcloud-setup-${{ runner.os }}-${{ hashFiles('.github/workflows/test.yml') }}
          restore-keys: |
            gcloud-setup-${{ runner.os }}-

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          project_id: "${{ secrets.GCP_PROJECT_ID }}"
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Set up gke-gcloud-auth-plugin
        run: |
          gcloud components install gke-gcloud-auth-plugin

      - name: Validate Dockerfile
        run: |
          docker build -f Dockerfile -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ IMAGE }} .
          echo gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ IMAGE }}
          
      - name: Configure Docker to use GCR
        run: |
          gcloud auth configure-docker gcr.io
  
      - name: Push Docker Image to GCR
        run: |
          docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE }}
        

      
