name: Example Workflow

on:
  push:
    branches:
      - master

env:
  TOKEN: ${{ secrets.MY_PAT }}
  SERVICE_NAME: ${{ vars.SERVICE_NAME }}
  SERVICE_PORT: ${{ vars.SERVICE_PORT }}
  SERVICE_TYPE: ${{ vars.SERVICE_TYPE }}
  SERVICE_REPLICAS: ${{ vars.SERVICE_REPLICAS }}
  DOCKER_IMAGE_TAG: ${{ vars.DOCKER_IMAGE_TAG }}
  IMAGE_UPDATE_POLICY: ${{ vars.IMAGE_UPDATE_POLICY }}
  VERSION: 0.0.1

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache gcloud and gke-gcloud-auth-plugin setup
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/gcloud/
          key: gcloud-setup-${{ runner.os }}-${{ hashFiles('.github/workflows/test.yml') }}
          restore-keys: |
            gcloud-setup-${{ runner.os }}-

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          project_id: "${{ secrets.GCP_PROJECT_ID }}"
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Set up gke-gcloud-auth-plugin
        run: |
          gcloud components install gke-gcloud-auth-plugin

      - name: Extract branch name
        run: echo "SHORT_SHA=$(echo ${{ github.sha }} | head -c 8)" >> $GITHUB_ENV

      - name: Validate Dockerfile
        env: 
          IMAGE: "${{ env.SERVICE_NAME }}-${{ env.SHORT_SHA }}:${{ env.VERSION }}"
        run: |
          docker build -f Dockerfile -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE }} .
          echo gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE }}
          
      - name: Configure Docker to use GCR
        run: |
          gcloud auth configure-docker gcr.io
  
      - name: Push Docker Image to GCR
        env: 
          IMAGE: "${{ env.SERVICE_NAME }}-${{ env.SHORT_SHA }}:${{ env.VERSION }}"
        run: |
          docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.IMAGE }}

        
      - name: Get Image Digest
        id: get_digest
        run: |
          DIGEST=$(gcloud container images list-tags gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.SERVICE_NAME }}-${{env.SHORT_SHA}})
          echo Digest 1 $DIGEST
          DIGEST2=$(gcloud container images list-tags gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ env.SERVICE_NAME }}-${{env.SHORT_SHA}} --filter="tags=0.0.1" --format='get(digest)')
          echo Digest 2 $DIGEST2
          echo "::set-output name=digest::$DIGEST2"
  
        env:
          CLOUDSDK_CORE_DISABLE_PROMPTS: 1
          IMAGE: "${{ env.SERVICE_NAME }}-${{ env.SHORT_SHA }}:${{ env.VERSION }}"

      
